.news-container {
    display: flex;
    justify-content: center;
}

.content {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.author {
    text-align: end;
}

.article-image {
    text-align: center;
}

.article-image>img {
    max-width: 300px;
    max-height: 300px;
}

.title {
    text-align: center;
    font-size: 25px;
}