.weather-slider {
    color: #1976d2 !important;
    min-width: 200px;
}

.weather-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 20px;
}

.weather-info {
    align-items: center;
    display: flex;
}

.weather-data {
    display: flex;
    flex-direction: column;
}

.weather-data>span {
    display: flex;
    justify-content: space-between;
}

.value {
    margin-left: 10px;
}